.root{
  width: 100%;
  height: 10vh;
  box-sizing: borde-box;
  border-bottom: 1px solid cyan;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  h3{
    margin: 0;
    padding: 0;
  }
  svg {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    cursor: pointer;

    :hover{
      color: cyan;
    }
  }
}

.upperBlock{
  width: 20%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  svg{
    margin: 5px;
  }
  h1{
    color: lightskyblue;
    margin: 0px;
    padding: 0px;
    font-size: 2em;
  }
}