.root{
  height: 100%;
  width: 30%;
  border-right: 1px solid cyan;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.upperBlock{
  width: 100%;
  height: 10vh;
  border-bottom: 1px solid cyan;
  display: flex;
  align-items: center;
  justify-content: center;
  svg{
    margin: 5px;
  }
  h2{
    color: lightskyblue;
    margin: 0px;
    padding: 0px;
    font-size: 1em;
  }
}

.aboutStorage{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-top: 1px solid cyan;
  width: 100%;
  height: 20%;

  p{
    padding: 0;
    margin: 0;
    margin-left: 15px;
    margin-bottom: 10px;
  }
}

.foldersBlock{
  margin-bottom: 100px;
  padding-top: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  button:first-child {
    cursor: pointer;
    background-color: lightskyblue;
    box-shadow: 0px 5px 5px 5px lightblue;
    text-align: center;
    width: 90%;
    height: auto;
    font-size: 1.25em;
    font-weight: 200;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  button{
    cursor: pointer;
    background-color: white;
    border: 1px solid cyan;
    border-radius: 8px;
    width: 90%;
    height: auto;
    margin-bottom: 15px;
    font-size: 1.25em;
    box-shadow: 0px 5px 5px 5px lightblue;
  }
}

.storageCloud {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;

  svg{ 
    margin-left: 15px;
    margin-right: 15px;
  }
}

.progress_wrapper{
  width: 90%;
  margin-left: 15px;
}

.crFolder{
  &__root{
    position: relative;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    svg{
      position: absolute;
      right: 10px;
      height: 25px;
      cursor: pointer;
    }
  }

  &__input{
    height: 25px;
    width: 100%;
    font-size: 1.25em;
    border-radius: 8px;
    box-shadow: 0px 5px 5px 5px lightblue;
    border: 1px solid cyan;
  }

}

.logout_btn{
  margin-left: 15px;
  cursor: pointer;
  box-shadow: 0px 5px 5px 5px lightblue;
  text-align: center;
  width: 90%;
  height: auto;
  font-size: 1.25em;
  font-weight: 200;
  border-radius: 8px;
  margin-bottom: 15px;
}
